/* --- UTILIDADES --- */
*{
    margin: 0;
    padding: 0;

}

:root {
    /* Colores */
    --color-primario: #yourPrimaryColor; /* Define aquí tu color primario */
    --color-secundario: #yourSecondaryColor; /* Define aquí tu color secundario */
    --color-texto: #yourTextColor; /* Define aquí tu color de texto */

    /* Fuentes */
    --fuente-titulo: 'Poppins', sans-serif;
    --fuente-principal: 'Open Sans', sans-serif;
}

/* Aplicación de las variables */
body {
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    background-color: rgb(140, 144, 180);
    background-image: url(/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

h1, h2, h3 {
    font-family: var(--fuente-titulo);
}

.primary-bg {
    background-color: var(--color-primario);
}

.secondary-bg {
    background-color: var(--color-secundario);
}

.text-primary {
    color: var(--color-primario);
}

.text-secondary {
    color: var(--color-secundario);
}
/* Aplicación de las variables */

/* --- UTILIDADES --- */

header{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white;    
    padding: 1rem 4rem;
    justify-content: space-between;
    box-shadow: 0rem 0rem 1rem black;
}

header a img{
    max-width: 20rem;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    min-width: 800px;
}

header nav ul li{
    list-style: none;
}
header nav ul li a{
    font-family: var(--fuente-titulo);
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
    margin: 0rem 1rem;
    color: rgb(39, 53, 99);
    text-decoration: underline;
    text-underline-offset: .5rem;
}
.active{
    font-weight: 600;
    transition: ease .5s;
}
.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh
}
.main_container h2{
   margin-bottom: 1rem;
   text-align: center;
   color: rgb(39, 53, 99);
}
form{
    margin: 2rem 4rem;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem .5rem 1rem black;
}

.submit{
    text-align: center;
    background-color: white;
    outline: black .5 solid;
    border-radius: 2rem;
    padding: .5rem 1rem;
    width: 10rem;
    color: rgb(39, 53, 99);
}
.submit:hover
{
    background-color: gray;
    color: white;
    transition: ease .25s;
}
.container_submit{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.container_submit a{
    font-size: 1rem;
    color: blue;
}

label{
    margin: 1rem 0rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: rgb(39, 53, 99);
}
input{
    height: 1.5rem;
    border-radius: 2rem;
    padding: .5rem 2rem;
    font-size: 1rem;
    color: rgb(39, 53, 99);
}

.body_gracias{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.gracias_main{
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 1.5rem;
}
.gracias_main h1{
    margin-bottom: 1rem;
}

i{
    font-size: large;
    margin: 2rem 0rem;
}

h4{
    margin-top: 1rem;
}